src/ca/concordia/pga/testcase/wsc08/Testset03/Challenge.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:service="http://www.ws-challenge.org/WSC08Services/" targetNamespace="http://www.ws-challenge.org/WSC08Services/">
  <service name="Task0Service">
    <port binding="service:Task0SOAP" name="Task0Port">
      <soap:address location="http://www.unknownexamplehost.ukn/" />
    </port>
  </service>
  <binding name="Task0SOAP" type="service:Task0PortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Task0Operation">
      <soap:operation soapAction="http://www.ws-challenge.org/Task0" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <portType name="Task0PortType">
    <operation name="Task0Operation">
      <input message="service:Task0RequestMessage" />
      <output message="service:Task0ResponseMessage" />
    </operation>
  </portType>
  <message name="Task0RequestMessage">
    <part element="service:ComplexElement0" name="ComplexElement0Part" />
    <part element="service:1423954098" name="1423954098Part" />
    <part element="service:745741370" name="745741370Part" />
    <part element="service:85120034" name="85120034Part" />
    <part element="service:486521827" name="486521827Part" />
    <part element="service:160655384" name="160655384Part" />
    <part element="service:46730213" name="46730213Part" />
  </message>
  <message name="Task0ResponseMessage">
    <part element="service:747300292" name="747300292Part" />
    <part element="service:376163513" name="376163513Part" />
  </message>
  <types>
    <xs:schema targetNamespace="http://www.ws-challenge.org/WSC08Services/">
      <xs:element name="ComplexElement0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="1980312147" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="1423954098" type="xs:string" />
      <xs:element name="745741370" type="xs:string" />
      <xs:element name="85120034" type="xs:string" />
      <xs:element name="486521827" type="xs:string" />
      <xs:element name="160655384" type="xs:string" />
      <xs:element name="46730213" type="xs:string" />
      <xs:element name="747300292" type="xs:string" />
      <xs:element name="376163513" type="xs:string" />
    </xs:schema>
  </types>
  <mece:semExtension xmlns:mece="http://www.vs.uni-kassel.de/mece">
    <mece:semMessageExt id="Task0RequestMessage">
      <mece:semExt id="1423954098">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst169077121</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="745741370">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst651211519</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="85120034">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1944207546</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="486521827">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst581573151</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="160655384">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst40043805</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="46730213">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst797654408</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1980312147">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1604214664</mece:ontologyRef>
      </mece:semExt>
    </mece:semMessageExt>
    <mece:semMessageExt id="Task0ResponseMessage">
      <mece:semExt id="747300292">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1995205845</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="376163513">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1204006516</mece:ontologyRef>
      </mece:semExt>
    </mece:semMessageExt>
  </mece:semExtension>
</definitions>

