src/ca/concordia/pga/testcase/wsc08/Testset01/Challenge.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:service="http://www.ws-challenge.org/WSC08Services/" targetNamespace="http://www.ws-challenge.org/WSC08Services/">
  <service name="Task0Service">
    <port binding="service:Task0SOAP" name="Task0Port">
      <soap:address location="http://www.unknownexamplehost.ukn/" />
    </port>
  </service>
  <binding name="Task0SOAP" type="service:Task0PortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Task0Operation">
      <soap:operation soapAction="http://www.ws-challenge.org/Task0" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <portType name="Task0PortType">
    <operation name="Task0Operation">
      <input message="service:Task0RequestMessage" />
      <output message="service:Task0ResponseMessage" />
    </operation>
  </portType>
  <message name="Task0RequestMessage">
    <part element="service:1409137801" name="1409137801Part" />
    <part element="service:1630560709" name="1630560709Part" />
    <part element="service:331455882" name="331455882Part" />
    <part element="service:1221227703" name="1221227703Part" />
    <part element="service:920295578" name="920295578Part" />
  </message>
  <message name="Task0ResponseMessage">
    <part element="service:1703678294" name="1703678294Part" />
  </message>
  <types>
    <xs:schema targetNamespace="http://www.ws-challenge.org/WSC08Services/">
      <xs:element name="1409137801" type="xs:string" />
      <xs:element name="1630560709" type="xs:string" />
      <xs:element name="331455882" type="xs:string" />
      <xs:element name="1221227703" type="xs:string" />
      <xs:element name="920295578" type="xs:string" />
      <xs:element name="1703678294" type="xs:string" />
    </xs:schema>
  </types>
  <mece:semExtension xmlns:mece="http://www.vs.uni-kassel.de/mece">
    <mece:semMessageExt id="Task0RequestMessage">
      <mece:semExt id="1409137801">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1756805735</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1630560709">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1310514844</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="331455882">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst181983408</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="1221227703">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst299753165</mece:ontologyRef>
      </mece:semExt>
      <mece:semExt id="920295578">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1839550173</mece:ontologyRef>
      </mece:semExt>
    </mece:semMessageExt>
    <mece:semMessageExt id="Task0ResponseMessage">
      <mece:semExt id="1703678294">
        <mece:ontologyRef>http://www.ws-challenge.org/wsc08.owl#inst1202986377</mece:ontologyRef>
      </mece:semExt>
    </mece:semMessageExt>
  </mece:semExtension>
</definitions>

